<ng-template [ngIf]="!inDialog">
    <h3>Select a Monster</h3>
    <p-dropdown [options]="options" [(ngModel)]="Monster" filter="true" optionLabel="name" (onChange)="setNewMonster($event)">
    </p-dropdown>
</ng-template>
<ng-template [ngIf]="modifiedCreature">
    <p>{{modifiedCreature.name}}</p>
    <p>{{modifiedCreature | json}}</p>
    <p *ngFor="let mod of modifications; let i = index">
        {{mod|json}}
    </p>
    <ng-template [ngIf]="!modifiedCreature.outputMonster" [ngIfElse]="hasOutputMonster">
        <app-stat-block [Monster]="modifiedCreature.modifiedCreature">
        </app-stat-block>
    </ng-template>

    <ng-template #hasOutputMonster>
        <app-stat-block [Monster]="modifiedCreature.outputMonster">
        </app-stat-block>
    </ng-template>
</ng-template>