<div *ngIf="Monster">
    <h3 class="remove-bottom-margin remove-top-margin">{{ Monster.name}}</h3>
    <div>{{ Monster.metaString}}</div>
    <div>Armor Class: {{Monster.armorString}}</div>
    <div>Hit Points:
        <app-dice [dice]="Monster.hitPoints"></app-dice>
    </div>
    <div>Speed: {{Monster.speedString}}</div>


    <div class="p-grid">
        <div class="p-col" *ngFor="let abbrev of abilAbbrev; let i=index">
            {{abbrev}}
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col" *ngFor="let abbrev of abilAbbrev; let i=index">
            {{Monster.abilities[abbrev]}} ({{Monster.modifierStrings[abbrev]}})
        </div>
    </div>

    <div *ngIf="Monster.savingThrows">Saving Throws: {{Monster.saveString}}</div>
    <div *ngIf="Monster.skills">Skills: {{Monster.skillString}}</div>
    <div *ngIf="Monster.senses">Senses: {{Monster.senseString}}</div>
    <div *ngIf="Monster.Languages">Languages: {{Monster.languageString}}</div>

    <div>Challange Rating: {{Monster.challenge}} ({{Monster.exp| number}} XP)</div>



    <div *ngFor="let t of Monster.traits let i=index">
        <b>{{t.name}}:</b> {{t.desc}}
    </div>

    <div *ngIf="Monster.actions">
        <h4 class="remove-bottom-margin">Actions</h4>
        <div *ngFor="let a of Monster.actions; let i=index">
            <b>{{a.name}}:</b> {{a.desc}}
        </div>
    </div>

    <div *ngIf="Monster.legendary">
        <h4 class="remove-bottom-margin">Legendary Actions</h4>
        <div>{{Monster.legendaryRules}}</div>
        <div *ngFor="let la of Monster.legendary; let i=index">
            <b>{{la.name}}:</b> {{la.desc}}
        </div>
    </div>

    <div *ngIf="Monster.reactions">
        <h4 class="remove-bottom-margin">Reactions</h4>
        <div *ngFor="let r of Monster.Reactions; let i=index">
            <b>{{r.name}}:</b> {{r.desc}}
        </div>
    </div>
</div>