<p>Init Tracker</p>
<!-- <p-checkbox></p-checkbox> -->
<p-inputSwitch [(ngModel)]="encounter.rolled"></p-inputSwitch>
<p-button label="RollAll" (onClick)="rollAll($event)"></p-button>
<p-table #eqt [columns]="cols" [value]="order" dataKey="name">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em"></th>
            <th>Name </th>
            <th>Initiative<br>Bonus</th>
            <th>Locked</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns" let-i="rowIndex">
        <tr>
            <td [ngIf]>
                {{encounter.rolled ? i : rowData.init+rowData.init}}
            </td>
            <td>
                {{rowData.name}}
            </td>
            <td>
                <p-inputNumber [(ngModel)]="rowData.initiativeBonus" [showButtons]="!readOnly" buttonLayout="horizontal" size="3" spinnerMode="horizontal" decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus">
                </p-inputNumber>
            </td>
            <td>
                checkbox
                <p-checkbox [(ngModel)]="rowData.locked"></p-checkbox>
            </td>
        </tr>
    </ng-template>
    <tr>
        <td [attr.colspan]="colSpan">
            123
            <!-- <app-stat-block [Monster]="rowData"></app-stat-block> -- -->
        </td>
    </tr>
    <ng-template [ngIf]="!readOnly" pTemplate="footer">
        <tr>
            <td [attr.colspan]="colSpan">
                <p-button label="Add" (onClick)="addCombatant($event)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>