MultiAttackers: {{multiAttackers}}
<!-- <h3>Shown - {{checked? 'Monster Manual':'SRD'}}</h3>
<p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
<div *ngIf="copyVal">
    <p-button (onClick)="copyInputMessage()" label="Copy JSON"></p-button>

    <p-accordion>
        <p-accordionTab header="MonsterJSON" #jsonBlock>
            {{copyVal}}
        </p-accordionTab>
    </p-accordion>

    <p-table #dt [columns]="cols" [value]="data" [expandedRowKeys]="expandedRows" dataKey="name" [paginator]="true" [rows]="15" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" (onRowSelect)="onRowSelect($event)"
        (onRowUnselect)="onRowSelect($event)" [(selection)]="selectedMonsters" selectionMode="single">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 3em">
                    <a href="#" (click)="expandAllRows()">
                        <i [ngClass]="allExpanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                </th>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <!-- <th>
                Filled
            </th> --
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns" let-i="rowIndex">
            <tr>
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td>
                    <a href="#" [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                    </a>
                </td>
                <td>{{rowData.name}}
                </td>
                <!-- <td>{{checked? rowData.page.book: 'SRD'}} --
                <td>{{checked?rowData.page.book: 'Volo'}} p. {{checked?rowData.page.page: rowData.page}}
                </td>
                <td>{{rowData.challenge}}
                </td>
                <!-- <td>
                <i class="pi pi-check" *ngIf="rowData.flavor_text"></i>
            </td> --
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns" let-i="rowIndex">
            <tr>
                <td [attr.colspan]="columns.length + 2">
                    <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                        <!-- {{i}} --
                        <app-stat-block (updatedCreature)="updateMonster($event, i)" [Monster]="jsonMonstersFormatted[i]">
                        </app-stat-block>

                        <!-- <textarea [(ngModel)]="rowData.name" autoResize="true"></textarea> --
                        <!-- <p-button icon="pi pi-minus" (onClick)="onButtonClick(rowData)"></p-button> --

                        <!-- <div>{{jsonMonstersFormatted[i] | json}}</div>
                        <textarea pInputTextarea [(ngModel)]="rowData.page_desc" columns="50" autoResize="true"></textarea>
                        <textarea pInputTextarea [(ngModel)]="rowData.flavor_text" columns="50" autoResize="autoResize"></textarea> --

                        <!-- {{rowData| json}} --
                    </div>
                </td>
            </tr>
            <tr>
                <td [attr.colspan]="columns.length + 2">
                    <p-accordion>
                        <p-accordionTab header="Description">
                            <textarea pInputTextarea [(ngModel)]="rowData.page_desc" columns="50" autoResize="autoResize"></textarea>
                        </p-accordionTab>
                        <p-accordionTab header="JSON">
                            {{rowData | json}}
                        </p-accordionTab>
                    </p-accordion>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div> -->